<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf8">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="shortcut icon" href="assets/img/popcorntime.ico">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="assets/js/app.js"></script>
        <title>Popcorn Time</title>
        <meta name="description" content="Popcorn Time Brasil, é a Primeria versão disponível em seu navegador! Ir os downloads! Assista aos melhores filmes em HD instantaneamente de graça!">

    </head>
    <body  ng-app="movieApp" class="background">    
        <div id="header">            
            <div class="title">Popcorn Time</div>
            <a href="#/">
            <div class="movies">
                Filmes
                <div class="selected movies"></div>
            </div></a>
            <a href="#/series/">
            <div class="tv-series">
                TV Series

            </div></a>
            <div class="genre">
                Generos
                <a href="" style="color:#2d75df; ">Todos</a>
            </div>
            <div class="genre-sort"></div>
            <form class="SearchField" ng-submit="ngsearch()" ng-controller="movieSearch">
                <input type="search" ng-model="search" placeholder="Pesquisar...">
            </form>
        </div>
        <div id="item-container" ng-controller="movieShow">
            <div id="overlay" class="black-overlay"></div>
            <div id="item-player">
                <div class="close" onclick="  hideElm('item-player');  showElm('item-detail');"></div>
                <iframe width="100%" height="100%" ng-src="{{url}}" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
            </div>
            <div id="item-youtube">
                <div class="close" onclick="hideElm('item-youtube');  showElm('item-detail');"></div>
                <iframe width="100%" height="100%" ng-src="{{youtube}}" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
            </div>
            <div id="item-detail">
                <div ng-repeat="show in filmes">
                    <div class="item-cover" style="background-image: url({{show.posters}});">

                    </div>
                    <div class="close" onclick="hideElm('overlay');  hideElm('item-detail');"></div>
                    <div class="item-title">{{show.name}}</div>
                    <div class="item-year">{{show.year}}</div>
                    <div class="dot"></div>
                    <div class="item-runtime">{{show.time}}</div>
                    <div class="dot"></div>
                    <div class="item-runtime"><a href="http://www.imdb.com/title/{{show.imdbid}}/" title="Abri Site IMDB"> IMDB : {{show.imdb}} </a></div>
                    <div class="item-overview">{{show.sinopse}}</div>
                    <div id="btn-watch">
                        <div ng-click="showPlayer()" class="watch-now">Assistir Agora</div>
                    </div>
                    <div id="btn-youtube">
                        <div ng-click="showTrailer()" class="watch-now">Assitir Trailer</div>
                    </div>
                </div>
            </div>
            <ng-view></ng-view> 
        </div>    
    </body>
</html>